<p>menu works!</p>
<!-- <div *ngFor="let menuItem of menuItems">
    <button (click)="showItem(menuItem.id.toString())">{{ menuItem.name }}
    {{ menuItem.description }}</button>
</div> -->
    

    <tbody>
        <tr *ngFor="let menuItem of menuItems;">
            <td>{{menuItem.name}}</td>
            <td>{{menuItem.description}}</td>
            <td>{{menuItem.price}}</td>
            <td><button (click)="showItem(menuItem.id.toString())">Show Details</button></td>
        </tr>
    </tbody>
    